{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "My plugin" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Monitoring") %}
{% endblock page_header %}


{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type = "text/JavaScript">
         <!--
            function AutoRefresh( t ) {
               setTimeout("location.reload(true);", t);
            }
         //-->
      </script>
<h2><b>Current Usage Statistics:</h2>
 <br>Instance: selfservice-instance</b>
<div class="row" onload = "JavaScript:AutoRefresh(5000);">
	<div class="column" style="float: left;width: 30%;">
		<ul>
		  <li> <b>CPU Usage:</b>
			<ul>
				<li>CPU usage (in ns) : {{cpu}}</li>
				<li>CPU usage (in %) : {{cpuPer}}</li>
			</ul>
		  </li>
		  <li> <b>Memory Usage:</b>
			<ul>
				<li>Memory usage (in MB) : {{memory_usage}}</li>
				<li>Increase/Decrease in memory usage : {{memPer}}</li>
			</ul>
		  </li>
		  <li> <b>Network Bandwidth:</b>
			<ul>
				<li>Outgoing Bytes : {{network_outgoing_bytes}}</li>  
				<li>Outgoing Packets : {{network_outgoing_packets}}</li>  
				<li>Incoming Bytes : {{network_incoming_bytes}}</li>
				<li>Incoming Packets : {{network_outgoing_packets}}</li>
			</ul>
		  </li>
		  <li> <b>Disk Usage:</b>
			<ul>
				<li>Disk Write Requests : {{disk_device_write_requests}}</li>  
				<li>Write Bytes : {{disk_device_write_bytes}}</li>
				<li>Disk Read Requests : {{disk_device_read_requests}}</li>  
				<li>Read Bytes : {{disk_device_read_bytes}}</li>
			</ul>
		  </li>
		</ul>  
	</div>
	
	<div class="column" style="float: left;text-align:center;padding:30px">
		<b>CPU utilization(in red) and Memory Utilization(in green):</b>
		<canvas id="myChart" style="padding:10px;width:1000px;max-width:600px"></canvas>
	</div>
</div>
<script>
var xValues = {{time}};

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{ 
      data: {{cpuData}},
      borderColor: "red",
	  borderWidth: 1,
      pointRadius: 0,
      fill: false
    }, { 
      data: {{MemoryData}},
      borderColor: "green",
	  borderWidth: 1,
      pointRadius: 0,
      fill: false
    }]
  },
  options: {
    legend: {display: false},
    scales: {
    	yAxes: [{ticks: {display: false}, gridLines: {display:false}}],
    	xAxes: [{ticks: {display: false}, gridLines: {display:false}}],
    }
  }
});
</script>
{% endblock %}
