{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "My plugin" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Monitoring") %}
{% endblock page_header %}


{% block main %}
<h2><b>Current Usage Statistics:
 <br>Instance: selfservice-instance</b></h2>
<ul>
  <li> <b>CPU Usage:</b>
	<ul>
		<li>CPU usage (in ns) : {{cpu}}</li>
		<li>CPU usage (in %) : {{cpuPer}}</li>
	</ul>
  </li>
  <li> <b>Memory Usage:</b>
	<ul>
		<li>Memory usage (in MB) : {{memory_usage}}</li>
		<li>Increase/Decrease in memory usage : {{memPer}}</li>
	</ul>
  </li>
  <li> <b>Network Bandwidth:</b>
	<ul>
		<li>Outgoing Bytes : {{network_outgoing_bytes}}  Incoming Bytes : {{network_incoming_bytes}}</li>
		<li>Outgoing Packets : {{network_outgoing_packets}}  Incoming Packets : {{network_outgoing_packets}}</li>
	</ul>
  </li>
  <li> <b>Disk Usage:</b>
	<ul>
		<li>Disk Write Requests : {{disk_device_write_requests}}  Write Bytes : {{disk_device_write_bytes}}</li>
		<li>Disk Read Requests : {{disk_device_read_requests}}  Read Bytes : {{disk_device_read_bytes}}</li>
	</ul>
  </li>
</ul>  
{% endblock %}
